<?xml version="1.0"?>
<config>
	<modules>
		<Midin_ProductBaru>
			<version>0.0.1</version>
		</Midin_ProductBaru>
	</modules>
	<global>
		<models>
			<midin_productbaru>
				<class>Midin_ProductBaru_Model</class>
			</midin_productbaru>
		</models>
		<helpers>
			<midin_productbaru>
				<class>Midin_ProductBaru_Helper</class>
			</midin_productbaru>
		</helpers>
		<blocks>
			<midin_productbaru>
				<class>Midin_ProductBaru_Block</class>
			</midin_productbaru>
		</blocks>

		<events>
            <sales_order_place_before>
                <observers>
                    <midin_productbaru>
                        <type>singleton</type>
                        <class>midin_productbaru/observer</class>
                        <method>test</method>
                    </midin_productbaru>
                </observers>
            </sales_order_place_before>
            <checkout_cart_product_add_after>
            	<observers>
                    <midin_productbaru>
                        <type>singleton</type>
                        <class>midin_productbaru/observer</class>
                        <method>checkoutpesan</method>
                    </midin_productbaru>
                </observers>
            </checkout_cart_product_add_after>
			<checkout_cart_save_after>
				<observers>
					<midin_productbaru>
						<type>singleton</type>
						<class>midin_productbaru/observer</class>
						<method>redirectlogin</method>
					</midin_productbaru>
				</observers>
			</checkout_cart_save_after>
        </events>

	</global>


	<frontend>
		<routers>
			<midin_productbaru>
				<use>standard</use>
				<args>
					<module>Midin_ProductBaru</module>
					<frontName>midin</frontName>
				</args>
			</midin_productbaru>
		</routers>
	</frontend>
</config>